html { box-sizing: border-box; }
*, *:before, *:after { box-sizing: inherit; margin: 0; padding: 0; }

body {
  min-height: 100vh;
  background-color: rgba(233, 225, 225, 0.726);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

section {
  background-image: url('./images/surfHero.jpg'); background-repeat: no-repeat; background-position: center;     
  background-size: cover;     
  height:50vh;
}

aside {
  .card-img-top {
    width: 100%;
    height: 25vw;
    object-fit: cover;
  }
}